@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
.gallery {
	height: 100vh;
	margin: 0;
	overflow-y: scroll;
	padding: 0;
	scroll-snap-type: y mandatory;
}
.gallery-item {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	scroll-snap-align: start;
	position: relative;
	width: 100%;
}
.gallery-item-detail {
	max-width: 72px;
	left: 8px;
	position: absolute;
	top: 8px;
}
.gallery-item-detail p {
	margin-left: 4px;	
	margin-top: 4px;
}
.gallery-item-detail-note {
	opacity: 1;
	transition: opacity 1s;
}
.gallery-item-detail-title {
	margin-bottom: 0;
}
.gallery-item-detail-note p {
	display: inline-block;
}
.gallery-item-display {
	/*
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		scroll-snap-align: start;
		width: 100%;
	*/
	display: block;
	height: calc(100% - 56px);
	scroll-snap-align: start;
	top: 4px;
	position: absolute;
	width: fit-content;
}
/* .gallery-item-display-drawing, */
.gallery-item-display-photo {
	/*
		height: calc(100% - 56px);
		position: absolute;
		top: 4px;
		transition: opacity 1s;
	*/
	height: 100%;
	transition: opacity 1s;
}
.gallery-item-display-photo {
	cursor: zoom-in;
}
.gallery-item-display--invisible {
	opacity: 0;
}
.gallery-item-order {
	bottom: 4px;
	position: absolute;
	right: 8px;
}
.gallery-item-order-add {
	background: #000;
	border: #000;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	padding: 8px;
}
.gallery-item-page {
	bottom: 4px;
	left: 8px;
	position: absolute;
}
.gallery-item-page p {
	margin: 0;
}
.gallery-item-page-control {
	background: transparent;
	border: 0;
	padding: 0;
}
.gallery-item-page-control  {
	display: inline-block;
	vertical-align: middle;
	width: 45px;
}
.gallery-item-page-control--down {
	cursor: s-resize;
}
.gallery-item-page-control--up {
	cursor: n-resize;
}
@media only screen and (min-width: 420px)  {
	.gallery-item-detail {
		max-width: 120px;
	}
}
@media only screen and (min-width: 690px)  {
	.gallery-item-detail {
		max-width: none;
	}
}
/* place bookmark-body class on outline of main bookmark body svg for shimmer 
	.gallery-item-drawing > svg path[class*="bookmark-body"]{
			Similar to the Holofoil, but this uses a special image background of a galaxy effect with a gradient rainbow set to color-dodge & color-burn on top.
			
			https://github.com/simeydotme/pokemon-cards-css
		
		background-image: url("https://deck-24abcd.netlify.app/img/galaxy.jpg"),
											url("https://deck-24abcd.netlify.app/img/galaxy.jpg"),
											url("https://deck-24abcd.netlify.app/img/galaxy.jpg"),
											repeating-linear-gradient(
												82deg,
												rgb(219, 204, 86) calc(4%),
												rgb(121, 199, 58) calc(8%),
												rgb(58, 192, 183) calc(12%),
												rgb(71, 98, 207) calc(16%),
												rgb(170, 69, 209) calc(20%),
												rgb(255, 90, 180) calc(24%),
												rgb(255, 90, 180) calc(28%),
												rgb(170, 69, 209) calc(32%),
												rgb(71, 98, 207) calc(36%),
												rgb(58, 192, 183) calc(40%),
												rgb(121, 199, 58) calc(44%),
												rgb(219, 204, 86) calc(48%) ),
											radial-gradient(
												farthest-corner circle at 50% 50%,
												rgba(255, 255, 255, 0.6) 5%,
												rgba(150, 150, 150, .3) 40%,
												rgb(0, 0, 0) 100% );
		background-blend-mode: color-dodge, color-burn, saturation, screen;
		background-position: center, center, center, 50% 50%, center;
		background-size: cover, cover, cover, 400% 900%, cover;
		filter: brightness(.75) contrast(1.2) saturate(1.5);
		mix-blend-mode: color-dodge;
		overflow: hidden;
		transform: translateZ(1px);
		z-index: 3;
		background-position: center;
	}
*/